body {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0' gradientTransform='rotate(250,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%230df7ff'/%3E%3Cstop offset='1' stop-color='%235630ff'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(244,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23ae61ff'/%3E%3Cstop offset='1' stop-color='%23faa9ff'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='6.6'%3E%3Cpath transform='translate(-9.8 -5.6) rotate(-5.6 1409 581) scale(0.958)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='2.2' transform='translate(-35 14) rotate(-2.8 800 450) scale(0.993)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(-9.8 21) rotate(-35 401 736) scale(0.993)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='2'%3E%3Cpath transform='translate(84 8.4) rotate(-2.1 150 345) scale(1.014)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='4.4' transform='translate(21 -42) rotate(-50.4 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='translate(-5.6 -5.6) rotate(-8.4 1400 132) scale(0.93)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

.reactselect-invalid > div:nth-of-type(1) {
  border: 1px solid #f71616 !important;
  box-shadow: -1px 3px 11px 0px #c1291d4a !important;
}

@keyframes load {
  100% {
    transform: translateX(100%);
  }
}

div#anim span span {
  content: "";
  position: absolute;
  margin: auto;
  height: 8px;
  width: 2px;
  background: #4809f5;
  opacity: 0;
}

div#anim span span:nth-of-type(1) {
  top: -10px;
  left: 0;
  right: 0;
}

div#anim span span:nth-of-type(2) {
  bottom: -10px;
  left: 0;
  right: 0;
}

div#anim span span:nth-of-type(3) {
  top: 0;
  bottom: 0;
  left: -10px;
}

div#anim span span:nth-of-type(4) {
  top: 0;
  bottom: 0;
  right: -10px;
}

div#anim span span:nth-of-type(5) {
  top: -5px;
  left: -62%;
  right: 18px;
  transform: rotate(-45deg);
}

div#anim span span:nth-of-type(6) {
  top: -5px;
  left: 18px;
  right: -62%;
  transform: rotate(45deg);
}

div#anim span span:nth-of-type(7) {
  bottom: -5px;
  left: -62%;
  right: 18px;
  transform: rotate(45deg);
}

div#anim span span:nth-of-type(8) {
  bottom: -5px;
  left: 18px;
  right: -62%;
  transform: rotate(-45deg);
}

/* let's animate this */
@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

div#anim.active {
  animation: bounce 0.4s ease-out 1;
}

div#anim.active span span:nth-of-type(1) {
  animation: anim1 0.4s ease-out;
}
div#anim.active span span:nth-of-type(2) {
  animation: anim2 0.4s ease-out;
}
div#anim.active span span:nth-of-type(3) {
  animation: anim3 0.4s ease-out;
}
div#anim.active span span:nth-of-type(4) {
  animation: anim4 0.4s ease-out;
}
div#anim.active span span:nth-of-type(5) {
  animation: anim5 0.4s ease-out;
}
div#anim.active span span:nth-of-type(6) {
  animation: anim6 0.4s ease-out;
}
div#anim.active span span:nth-of-type(7) {
  animation: anim7 0.4s ease-out;
}
div#anim.active span span:nth-of-type(8) {
  animation: anim8 0.4s ease-out;
}

@keyframes anim1 {
  0% {
    transform: scaleY(0.5);
    opacity: 1;
  }
  50% {
    transform: translateY(-10px) scaleY(1.4);
    opacity: 1;
  }
  75% {
    display: none;
  }
  100% {
    transform: translateY(-20px) scaleY(0.5);
    display: none;
  }
}
@keyframes anim2 {
  0% {
    transform: scaleY(1);
    opacity: 0;
  }
  50% {
    transform: translateY(10px) scaleY(1.4);
    opacity: 1;
  }
  75% {
    display: none;
  }
  100% {
    transform: translateY(20px) scaleY(0.5);
    display: none;
  }
}
@keyframes anim3 {
  0% {
    transform: rotate(90deg) scaleX(0.5);
    opacity: 0;
  }
  50% {
    transform: rotate(90deg) translateY(10px) scaleX(1.4);
    opacity: 1;
  }
  75% {
    display: none;
  }
  100% {
    transform: rotate(90deg) translateY(20px) scaleX(0.5);
    display: none;
  }
}
@keyframes anim4 {
  0% {
    transform: rotate(90deg) scaleX(0.5);
    opacity: 0;
  }
  50% {
    transform: rotate(90deg) translateY(-10px) scaleX(1.4);
    opacity: 1;
  }
  75% {
    display: none;
  }
  100% {
    transform: rotate(90deg) translateY(-20px) scaleX(0.5);
    display: none;
  }
}
@keyframes anim5 {
  0% {
    transform: rotate(-30deg) scaleY(0.5);
    opacity: 0;
  }
  50% {
    transform: rotate(-30deg) translateY(-8px) scaleY(1.4);
    opacity: 1;
  }
  75% {
    display: none;
  }
  100% {
    transform: rotate(-30deg) translateY(-16px) scaleY(0.5);
    display: none;
  }
}
@keyframes anim6 {
  0% {
    transform: rotate(30deg) scaleY(0.5);
    opacity: 0;
  }
  50% {
    transform: rotate(30deg) translateY(-8px) scaleY(1.4);
    opacity: 1;
  }
  75% {
    display: none;
  }
  100% {
    transform: rotate(30deg) translateY(-16px) scaleY(0.5);
    display: none;
  }
}
@keyframes anim7 {
  0% {
    transform: rotate(30deg) scaleY(0.5);
    opacity: 0;
  }
  50% {
    transform: rotate(30deg) translateY(8px) scaleY(1.4);
    opacity: 1;
  }
  75% {
    display: none;
  }
  100% {
    transform: rotate(30deg) translateY(16px) scaleY(0.5);
    display: none;
  }
}
@keyframes anim8 {
  0% {
    transform: rotate(-30deg) scaleY(0.5);
    opacity: 0;
  }
  50% {
    transform: rotate(-30deg) translateY(8px) scaleY(1.4);
    opacity: 1;
  }
  75% {
    display: none;
  }
  100% {
    transform: rotate(-30deg) translateY(16px) scaleY(0.5);
    display: none;
  }
}

.parallax-banner-layer-0 {
  background-size: auto !important;
}

div.blob-form {
  position: relative;
  bottom: 65%;
  right: 20%;
  display: flex;
  justify-content: center;
}

@keyframes gradiant {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 20% 50%;
  }
  100% {
    background-position: 100% 100%;
  }
}
.btn-violet {
  background: rgb(84 105 212) !important;
}
.btn-violet:hover {
  background: rgb(139 149 204) !important;
}

svg.blob {
  position: absolute;
  max-width: 600px;
  min-width: 500px;
  z-index: -1;
  top: 0;
  left: 0;
  right: auto;
  filter: drop-shadow(14px 18px 50px rgba(107, 107, 107, 0.438));
  transition: all 3s ease;
  animation: trans 5s ease-in-out infinite alternate;
}

svg.blob path {
  transition: all 5s ease;
  animation: ani 60s linear infinite alternate;
}
@keyframes ani {
  0% {
    d: path(
      "M57.5,-57.7C69.9,-45,72.3,-22.5,70.3,-2C68.4,18.6,62.1,37.2,49.7,53C37.2,68.7,18.6,81.6,0.3,81.3C-17.9,80.9,-35.9,67.4,-45.7,51.6C-55.6,35.9,-57.3,17.9,-59.9,-2.6C-62.5,-23.2,-66.1,-46.4,-56.3,-59.1C-46.4,-71.7,-23.2,-73.7,-0.3,-73.4C22.5,-73,45,-70.3,57.5,-57.7Z"
    );
  }
  25% {
    d: path(
      "M42.2,-41.9C52.3,-32.1,56.4,-16.1,59.9,3.5C63.4,23,66.2,46,56.1,55.5C46,65.1,23,61.2,4.6,56.6C-13.8,52,-27.7,46.8,-43.9,37.2C-60.2,27.7,-78.8,13.8,-82,-3.2C-85.2,-20.3,-73,-40.5,-56.7,-50.2C-40.5,-59.9,-20.3,-59.1,-2.1,-57C16.1,-54.9,32.1,-51.6,42.2,-41.9Z"
    );
  }
  50% {
    d: path(
      "M53.6,-47.1C69.8,-37.5,83.3,-18.8,85.1,1.9C87,22.5,77.2,45,61.1,58.6C45,72.2,22.5,77,1.3,75.7C-20,74.5,-40,67.2,-49.6,53.6C-59.3,40,-58.7,20,-54.1,4.6C-49.5,-10.8,-41,-21.7,-31.4,-31.3C-21.7,-40.9,-10.8,-49.2,4,-53.2C18.8,-57.1,37.5,-56.7,53.6,-47.1Z"
    );
  }
  75% {
    d: path(
      "M32.3,-36.5C44.6,-19.9,59.3,-10,60.2,0.9C61.1,11.8,48.2,23.5,35.9,36.6C23.5,49.7,11.8,64.2,0.1,64.1C-11.7,64,-23.3,49.5,-33.7,36.4C-44.2,23.3,-53.3,11.7,-56.1,-2.8C-58.9,-17.2,-55.3,-34.5,-44.9,-51C-34.5,-67.5,-17.2,-83.3,-3.6,-79.7C10,-76.1,19.9,-53,32.3,-36.5Z"
    );
  }
  100% {
    d: path(
      "M47,-55.1C53.7,-40.2,47.1,-20.1,45.1,-1.9C43.2,16.2,45.9,32.4,39.2,44C32.4,55.5,16.2,62.4,0.8,61.7C-14.7,60.9,-29.4,52.5,-43.5,40.9C-57.7,29.4,-71.4,14.7,-73.8,-2.5C-76.3,-19.6,-67.5,-39.2,-53.4,-54C-39.2,-68.9,-19.6,-79,0.3,-79.3C20.1,-79.6,40.2,-69.9,47,-55.1Z"
    );
  }
}

@keyframes trans {
  0% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(-20px);
  }
}

.knobs,
.layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.switch {
  position: relative;
  top: 0;
  min-width: 63px;
  height: 30px;
  margin: 0 0 0 10px;
  overflow: hidden;
}

.switch.r,
.switch.r .layer {
  border-radius: 100px;
}

.switch.b2 {
  border-radius: 2px;
}

.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knobs {
  z-index: 2;
}

.layer {
  width: 100%;
  background-color: #e7e7e7;
  transition: 0.3s ease all;
  z-index: 1;
}

#switch-1 .knobs:before {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 20px;
  height: 5px;
  padding: 11px 11px;
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 4px 0px 16px 0px #90909066;
  transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}
label[for="switch"] {
  font-weight: bold;
}

#switch-1 .checkbox:checked + .knobs:before {
  content: "";
  left: 36px;
  box-shadow: -4px 0px 16px 0px #90909066;
  background-color: #fcfcfc;
}
.checkbox:focus .knobs:before {
  padding: 30px !important;
}

#switch-1 .checkbox:checked ~ .layer {
  background-color: #7753da;
}

#switch-1 .knobs,
#switch-1 .knobs:before,
#switch-1 .layer {
  transition: 0.4s cubic-bezier(0.38, 0.07, 0.28, 1.41) all;
}

.dispo-active {
  background: rgb(212, 212, 212) !important;
}
